/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ----- End off CSS Reset by Josh W. Comeau ------  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */

* {
  outline: 1px solid red;
}

:root {
  font-family: "Helvetica", sans-serif;
  --bg-clr-primary: #dcdcdc6c;
  --bg-clr-secondary: #f3f2ec;
  --link-clr-primary: #37353e;
  --link-clr-secondary: #37353ee3;
}

body {
  display: flex;
}

#sidebar {
  width: 20vw;
  min-height: 100vh;
  background-color: var(--bg-clr-primary);
  padding: 1rem 0.4rem 2rem;
  display: flex;
  flex-direction: column;
}

#sidebar button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#sidebar button.project-title {
  color: var(--link-clr-secondary);
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}

#sidebar button.project-title:hover,
#sidebar button.current-tab {
  color: var(--link-clr-primary);
  font-weight: 600;
}

.logo {
  display: flex;
}

.icon-logo {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("./fire-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#container {
  width: 100%;
  padding: 1rem 2rem;
}

#container-tasks {
  padding: 1rem;
}
