/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ----- End off CSS Reset by Josh W. Comeau ------  */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* * {
  outline: 1px solid red;
} */

:root {
  font-family: "Helvetica", sans-serif;
  --bg-clr-primary: #dcdcdc6c;
  --bg-clr-secondary: #f3f2ec;
  --link-clr-primary: #37353e;
  --link-clr-secondary: #37353ee3;
}

body {
  display: flex;
}

#sidebar {
  width: 20vw;
  min-height: 100vh;
  background-color: var(--bg-clr-primary);
  padding: 1rem 0.4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

#sidebar button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#sidebar .project-group {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  margin-top: 1rem;
}
/* 
#sidebar button.project-title {
  color: var(--link-clr-secondary);
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}

#sidebar button.project-title:hover,
#sidebar button.current-tab {
  color: var(--link-clr-primary);
  font-weight: 600;
} */

button.project-title {
  text-transform: capitalize;
}

#sidebar button#btn-add-project,
button.project-title,
.task,
.input-wrapper input {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;

  &:hover,
  &:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
  }

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
}

.logo {
  display: flex;
}

.icon-logo {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("./fire-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

#container {
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.view-title {
  font-size: 1.2rem;
  text-transform: capitalize;
}

#container-tasks {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.4rem;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  cursor: auto;
}

.task-title {
  padding: 0 0.5rem;
}

.task-controls {
  display: flex;
  gap: 1rem;
}

.task-controls * {
  background: none; /* Removes background color/image */
  border: none; /* Removes border */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  font: inherit; /* Inherits font styles from parent */
  color: inherit; /* Inherits text color from parent */
  cursor: pointer; /* Ensures cursor remains a pointer */
  -webkit-appearance: none; /* For Webkit browsers */
  -moz-appearance: none; /* For Mozilla browsers */
  appearance: none; /* Standard property for removing default button appearance */
}
.task .task-check,
.task .task-delete {
  fill: rgba(0, 0, 0, 0.75);
  width: 1.5rem;
  height: 1.5rem;

  &:hover {
    cursor: pointer;
    fill: green;
  }
}

.task .task-delete:hover {
  fill: red;
}

svg {
  pointer-events: none;
}
.done {
  .task-title {
    text-decoration: line-through;
    font-style: italic;
  }
  .task-check {
    fill: green;
  }
}

.date-added {
  margin-left: auto;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 0 0.5rem;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper input {
  width: 100%;
  padding-right: 40px;
  cursor: auto;
}

.input-wrapper button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}

dialog {
  margin: 10em auto;
  padding: 2em 5em;
  border: none;
  border-radius: 6px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
dialog::backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
}
